* {
    font-family: NotoSans, sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    margin-bottom: 120px;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 396px;
    background-image: url('/img/marian-kroell.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    background-size: cover;
}

h1 {
    color: #FFFFFF;
    font-size: 62px;
    line-height: 68px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 1.4px;
}

.header__wrapper {
    z-index: 1;
    width: 750px;
    padding-top: 120px;
    text-align: center;
    display: block;
}

.header__background_shadow {
    background-color: #01010199;
    position: absolute;
    width: 100%;
    height: 100%;
}

.button {
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 1140px;
    width: 100%;
    justify-content: space-around;
}

.card {
    width: 360px;
    padding: 12px 30px 30px 30px;
    box-sizing: border-box;
    border: 1px solid #D3D8E4;
}

.card__text {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.card_wrapper {
    margin-left: 30px;
}

.category {
    box-sizing: border-box;
    background-color: #00B6DD;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: -30px;
}

.bg__dark {
    background-color: #081580;
}

.bg__light {
    background-color: #00B6DD;
}

.text__dark {
    color: #081580;
}

.text__light {
    color: #00B6DD;
}

.category__choose {
    margin: 0 24px;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 22px;
    text-transform: uppercase;
}

.picture {
    width: 100%;
    background-size: cover;
    min-height: 170px;
    position: relative;
    top: 18px;
}

.author {
    box-sizing: border-box;
    width: 95px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
}

.card__title {
    margin-top: 6px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
}

.picture_description {
    font-size: 16px;
    line-height: 26px;
    margin-top: 16px;
    padding-bottom: 30px;
}

.button {
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: #00B6DD;
    border: none;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.press__button {
    margin-top: auto;
}


@media (min-width: 1200px) {
    .card {
        /*width: 33.3%;*/
    }

    .card:nth-child(3n+2) {
        margin-left: 30px;
        margin-right: 30px;
    }

    .card:nth-child(n+4) {
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .card {
        width: calc(50% - 30px);
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .card {
        width: calc(100% - 15px);
        margin-bottom: 30px;
    }
}






